.abbreviatedLogo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2000;
    width: 4vw;
}
.splash {
    background: url('../imgs/PINK_TONES_MOUNTAINS.jpg');
    /* top, transparent red, faked with gradient */
    /* linear-gradient( rgba(255,0,169, 0.444), rgba(102, 125, 182, 0.3)), */
    /* bottom, image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}
#contact {
    padding-top: 20px;
    padding-bottom: 20px
}
#contact a {
    text-decoration: none;
    color: white;
}
#contact a:hover {
    text-decoration: none;
    color: white;
}
#join-slack {
    border: 2.8px solid white;
    padding: 4px 9px 4px 9px;
    letter-spacing: 0.4px;
}
#submit-slack {
    font-weight: 500;
    transition: all ease-in-out 0.2s;
    color: white;
    /* font-weight: bold; */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: 2.8px solid white;
    background-color: transparent;
    padding: 4px 9px 4px 9px
}
#submit-slack:hover{
    transition: all ease-in-out 0.2s;
    color: black;
    /* font-weight: bold; */
    letter-spacing:1.4px;
    text-transform: uppercase;
    border: 2.8px solid white;
    background-color: white;
    padding: 4px 9px 4px 9px
}

.titleBox img {
    filter: brightness(0) invert(1);
}

.titleBox {
    padding: 0;
    margin: 0;
    text-align: center;
}

.title {
    font-family: 'Argon';
    text-align: center;
    font-size: 60px;
    letter-spacing: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    margin-top: -1em;
}

.noLetterSpace {
    letter-spacing: 0;
}

.navigation {
    font-weight: bold;
    text-transform: uppercase!important;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.navBox {
    list-style-type: none;
    margin-top: 17em;
    padding: 0;
    text-align: center;
}

.navLinks {
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    font-family: "Pangram";
    letter-spacing: 2px;
    line-height: 2px;
}

.navLink {
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 10px;
}

.navLink:hover {
    color: #fff;
    text-decoration: none;
}

.navLink:before, .navLink:after {
    content: '';
    position: absolute;
    display: inline;
    width: 0%;
    height: 1px;
    top: 60%;
    margin-top: 12.5px;
    background: #fff;
    border-radius: 10px;
}

.navLink:before {
    left: -2.5px;
}
.navLink:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navLink:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navLink:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}


.aboutSection {
    font-family: "Pangram";
    /* background: #f7f7f7; */
    /* background: #fff; */
    color: #444;
    padding-bottom: 2em;
}

.locationDate {
    text-align: center;
    line-height: 170%;
    padding-top: 2em;
}

#contact h5 {
    letter-spacing: 1.4px;
    font-weight: 700;
    font-family: "Pangram"!important;
    -webkit-font-smoothing: antialiased;
}

#countDown {
    text-align: center;
    line-height: 50px;
}

.infoBoxes {
    margin-top: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.infoBox {
    text-align: center;
    border-right: 2px solid #ccc;
    margin: none;
    padding: 2em;
}

.infoBoxTitle {
    line-height: 40px;
}

.infoBox:nth-child(3) {
    border-right: none;
}

.infoIcon {
    margin-top: 1em;
    color: #fd1d1d;
}

.saveTheDate {
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 500;
}

/* .infoBoxRule {
height: 2px;
width: 60px;
border-radius: 40px;
background: #fd1d1d;
margin: 1em auto 2em auto;
} */

@media screen and (max-width: 760px) {
    .title {
        font-size: 30px;
    }
    .abbreviatedLogo {
        width: 15vw;
    }
    .infoBoxes {
        margin-left: -1em;
    }
}


@media screen and (max-width: 350px) {
    .infoBox {
        border: none;
        /* border-radius: 40px; */
        box-shadow: 2px 2px 10px #ccc;
        margin-bottom: 10px;
        margin-right: 1em;
        margin-left: 1em;
    }
}
@media screen and (max-width: 450px) {
    .title {
        font-size: 40px;
        margin-top: -4.5em;
    }

    .navLinks {
        display: block;
        font-size: 16px;
    }
    .navBox {
        margin-top: 17em
    }
    .logoTitle {
        width: 80%;
    }
}

.footer {
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 50px 20px 50px 20px;
    color: #fff;
}

.logoTitle {
    width: 60%;
    margin-top: -5em;
}

.footerLogoBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerLogo {
    width: 30%;
    margin: 0 auto;
    display: block;
}

.footerInfo {
    margin: auto;
    display: block;
}

.sponsorList {
    list-style-type: none;
    list-style-position: inside;
    font-family: "Pangram";
}

.sponsorBox {
    text-align: center;
}

.sponsorTitle {
    font-size: 20px;
}

.sponsorLink {
    color: #fff;
}

.sponsorTitle {
    color: #fff;
}

.sponsorLogo {
    width: 7vw;
    margin: 1em;
    display: inline-block;
}

.sponsorLogoLink:hover, .sponsorLogoLink:focus {
    outline: none;
    text-decoration: none;
}
/* a {
color: white;
text-decoration: none;
-webkit-transition: color 2s ease-out;
-moz-transition: color 2s ease-out;
-o-transition: color 2s ease-out;
transition: color 2s ease-out;}
a:hover {
color: #833ab4;
text-decoration: none;
-webkit-transition: color 2s ease-out;
-moz-transition: color 2s ease-out;
-o-transition: color 2s ease-out;
transition: color 2s ease-out;
} */
