.abbreviatedLogo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2000;
    width: 4vw;
}
.splash {
    background: url('../imgs/PINK_TONES_MOUNTAINS.jpg');
    /* top, transparent red, faked with gradient */
    /* linear-gradient( rgba(255,0,169, 0.444), rgba(102, 125, 182, 0.3)), */
    /* bottom, image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}
#contact {
    padding-top: 20px;
    padding-bottom: 20px
}
#contact a {
    text-decoration: none;
    color: white;
}
#contact a:hover {
    text-decoration: none;
    color: white;
}
#joinSlack {
    border: 2.8px solid white;
    padding: 4px 9px;
    letter-spacing: 0.4px;
}
#submitSlack {
    font-weight: 500;
    transition: all ease-in-out 0.2s;
    color: white;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: 2.8px solid white;
    background-color: transparent;
    padding: 4px 9px 4px 9px
}
#submitSlack:hover{
    transition: all ease-in-out 0.2s;
    color: black;
    letter-spacing:1.4px;
    text-transform: uppercase;
    border: 2.8px solid white;
    background-color: white;
    padding: 4px 9px 4px 9px
}

.titleBox img {
    filter: brightness(0) invert(1);
}

.titleBox {
    padding: 0;
    margin: 0;
    text-align: center;
}

.title {
    font-family: 'Argon';
    text-align: center;
    font-size: 60px;
    letter-spacing: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    margin-top: -1em;
}

.noLetterSpace {
    letter-spacing: 0;
}

.navigation {
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.navBox {
    list-style-type: none;
    margin-top: 17em;
    padding: 0;
    text-align: center;
}

.navLinks {
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    font-family: "Pangram";
    letter-spacing: 2px;
    line-height: 2px;
}

.navLink {
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 10px;
}

.navLink:hover {
    color: #fff;
    text-decoration: none;
}

.navLink:before, .navLink:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0%;
    height: 1px;
    top: 60%;
    margin-top: 12.5px;
    background: #fff;
    border-radius: 10px;
}

.navLink:before {
    left: -2.5px;
}
.navLink:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navLink:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navLink:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}


.aboutSection {
    font-family: "Pangram";
    color: #444;
    padding-bottom: 2em;
}

.locationDate {
    text-align: center;
    line-height: 170%;
    padding-top: 2em;
}

#contact h5 {
    letter-spacing: 1.4px;
    font-weight: 700;
    font-family: "Pangram"!important;
    -webkit-font-smoothing: antialiased;
}

#countDown {
    text-align: center;
    line-height: 50px;
}

.infoBoxes {
    margin-top: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.infoBox {
    text-align: center;
    border-right: 2px solid #ccc;
    margin: none;
    padding: 2em;
}

.infoBoxTitle {
    line-height: 40px;
}

.infoBox:nth-child(3) {
    border-right: none;
}

.infoIcon {
    margin-top: 1em;
    color: #fd1d1d;
}

.saveTheDate {
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 500;
}

@media screen and (max-width: 760px) {
    .title {
        font-size: 30px;
    }
    .abbreviatedLogo {
        width: 15vw;
    }
    .infoBoxes {
        margin-left: -1em;
    }
}


@media screen and (max-width: 350px) {
    .infoBox {
        border: none;
        box-shadow: 2px 2px 10px #ccc;
        margin-bottom: 10px;
        margin-right: 1em;
        margin-left: 1em;
    }
    #joinSlack {
        width: 20vw;
    }
}
@media screen and (max-width: 450px) {
    .title {
        font-size: 40px;
        margin-top: -4.5em;
    }

    .responsiveSeparate {
        display: block;
        margin-top: 2em;
    }
    .hackTitle {
        font-size: 40px;
        margin-top: -4em !important;
    }
    /*
    .hackNavLinks {
        display: block !important;
        font-size: 16px;
    }
    .hackNavLinks {
        display: block;
        font-size: 16px;
    }
    .hackNavBox {
        margin-top: 17em
    } */
    .logoTitle {
        width: 80%;
    }
}

.footer {
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 50px 20px 50px 20px;
    color: #fff;
    margin: 0;
}

.logoTitle {
    width: 60%;
    margin-top: -5em;
}

.hackSplash {
    background: url('../imgs/DARK_GRADIENT_BUILDING.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

/*
.hackNavigation {
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.hackNavBox {
    list-style-type: none;
    margin-top: 17em;
    padding: 0;
    text-align: center;
}

.hackNavLinks {
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    font-family: "Pangram";
    letter-spacing: 2px;
    line-height: 2px;
}

.hackNavLink {
    color: #4e4376;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 10px;
}

.hackNavLink:hover {
    color: #4e4376;
    text-decoration: none;
}

.hackNavLink:before, .hackNavLink:after {
    content: '';
    position: absolute;
    display: inline;
    width: 0%;
    height: 1px;
    top: 60%;
    margin-top: 12.5px;
    background: #4e4376;
    border-radius: 10px;
}

.hackNavLink:before {
    left: -2.5px;
}
.hackNavLink:after {
    right: 2.5px;
    background: #4e4376;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hackNavLink:hover:before {
    background: #4e4376;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hackNavLink:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
} */

.hackTitle {
   font-family: 'Argon';
   text-align: center;
   font-size: 60px;
   letter-spacing: 18px;
   color: #fff;
   text-transform: uppercase;
   padding: 0;
   margin-top: -1em;
}

.makeBig {
    font-size: 1.39em;
}

.hackDescription {
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 2em;
}

.descriptionQuestions {
    margin: 0;
    color: #fff;
    font-family: 'Pangram';
}

.descriptionAnswer {
    margin: 0 0 4em 0;
    color: #fff;
    font-family: 'Pangram';
}

.sectionTitle {
    font-family: 'Pangram';
    color: #fff;
    text-align: center;
    margin-bottom: 1em;
}

.prizeList {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Pangram";
    color: #fff;
}

.prize {
    margin: 1em;
}

.underLine {
    border-bottom: 1px dotted #fff;
}

.scrollDown {
    display: block;
    color: #fff;
    font-family: 'Pangram';
}
.scrollDown:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #fff;
}
.botbSplash {
    background: url('../imgs/MUSICA.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

.bandSection {
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
}

.bandImage {
    padding: 5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bandImage:nth-child(1) {
    background-image: url('../imgs/bandimgs/Carpool_Tunnel.jpg');
}
.bandImage:nth-child(4) {
    background-image: url('../imgs/bandimgs/Unpopular_Opinion.jpg');
}
.bandImage:nth-child(5) {
    background-image: url('../imgs/bandimgs/Grandmas_Cat_Logo.png');
}
.bandImage:nth-child(8) {
    background-image: url('../imgs/bandimgs/Novicain_Road.jpg');
}

.bandDescription {
    color: #4e4376;
    background: #fff;
    padding: 5em;
}

.bandSocial {
    margin-right: 1em;
    color: #4e4376;
}

.bandSocial:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #4e4376;
}
