/* index.html */

.splash {
    background-image: url('PINK_TONES_MOUNTAINS.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleBox {
    padding: 0;
    margin: 0;
    text-align: center;
}

.title {
    font-family: 'Argon';
    text-align: center;
    font-size: 60px;
    letter-spacing: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    margin-top: -1em;
    margin-left: 0.3em
}

.noLetterSpace {
    letter-spacing: 0;
}

.navigation {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.navBox {
    list-style-type: none;
    margin-top: 12em;
    padding: 0;
    text-align: center;
}

.navLinks {
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    font-family: "Pangram";
    letter-spacing: 2px;
    line-height: 2px;
}

.navLink {
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 10px;
}

.navLink:hover {
    color: #fff;
    text-decoration: none;
}

.navLink:before, .navLink:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 60%;
    margin-top: -0.5px;
    background: #fff;
}

.navLink:before {
    left: -2.5px;
}
.navLink:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navLink:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navLink:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

@media screen and (max-width: 760px) {
    .title {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 35px;
        margin-top: -3em;
    }

    .navLinks {
        display: block;
        font-size: 16px;
    }
    .navBox {
        margin-top: 17em
    }
}

.aboutSection {
    height: 60vh;
    font-family: "Pangram";
    padding: 2em;
    background: #f7f7f7;
}
