@font-face {
  font-family: 'Luxia-Display';
  src: url('Luxia-Display.eot');
  src: url('Luxia-Display.woff2') format('woff2'),
       url('Luxia-Display.woff') format('woff'),
       url('Luxia-Display.ttf') format('truetype'),
       url('Luxia-Display.svg#Luxia-Display') format('svg'),
       url('Luxia-Display.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

